<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <!-- {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %} -->
            <li><a href="https://thespicehut.com/pages/teas">Shop</a></li>
            <li>
              <ul style="font-size: 90%; padding-left: 5%">
                <li><a href="/teaboxes.html">Tea Boxes</a></li>
                <li><a href="https://thespicehut.com/collections/all-teas">Loose Leaf</a></li>
                <li><a href="/matcha.html">Matcha</a></li>
              </ul>
            </li>
            <li><a href="/learn.html">Learn</a></li>
            <li><a href="/wholesale.html">Wholesale</a></li>
            <li><a href="/contact.html">Contact</a></li>

          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
